@import 'tailwindcss';

body {
  background-image: url('/marica.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

@theme {
  

  --font-heading: var(--font-oxanium);
  --font-sans: var(--font-montserrat);
}
